In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
dir_datasets = '/content/drive/MyDrive/DataScience/Data Science Course/0.Datasets/{}'
df_exams = pd.read_csv(dir_datasets.format('StudentsPerformance.csv'), sep=',')

In [4]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

In [5]:
# add a value in a column
df_exams['language score'] = 70
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,70
1,female,group C,some college,standard,completed,69,90,88,70
2,female,group B,master's degree,standard,none,90,95,93,70
3,male,group A,associate's degree,free/reduced,none,47,57,44,70
4,male,group C,some college,standard,none,76,78,75,70
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,70
996,male,group C,high school,free/reduced,none,62,55,55,70
997,female,group C,high school,free/reduced,completed,59,71,65,70
998,female,group D,some college,standard,completed,68,78,77,70
999,female,group D,some college,free/reduced,none,77,86,86,70

In [24]:
# create an array of 1000 elements
language_score = np.random.randint(1, 100, size=1000)

In [25]:
# array size
len(language_score)

1000

In [26]:
# add the new array for a new column
df_exams['language score'] = language_score
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score,language score
0,female,group B,bachelor's degree,standard,none,72,72,74,22
1,female,group C,some college,standard,completed,69,90,88,77
2,female,group B,master's degree,standard,none,90,95,93,55
3,male,group A,associate's degree,free/reduced,none,47,57,44,61
4,male,group C,some college,standard,none,76,78,75,10
...,...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95,39
996,male,group C,high school,free/reduced,none,62,55,55,25
997,female,group C,high school,free/reduced,completed,59,71,65,33
998,female,group D,some college,standard,completed,68,78,77,48
999,female,group D,some college,free/reduced,none,77,86,86,15

In [30]:
# create random decimal numbers between 1 and 100
np.random.uniform(1, 100, 1000)

array([40.16010819,  9.95658016,  4.35567034, 53.90341396, 93.44629806,
       72.9409759 , 48.65490423, 58.82164984, 83.56213427, 50.69653543,
       36.39924524, 95.24737565, 16.82243912, 36.52410972, 30.3232489 ,
       82.48019171, 23.17752037, 48.32481526, 50.15877608,  5.84087112,
       70.67806367, 46.61119553, 65.0342199 ,  6.68703839, 40.85278165,
       84.82258016, 16.43579402, 51.49062772, 59.8648921 , 70.02589506,
       40.04691207, 16.94965249, 28.25685476, 13.77719425, 40.79192554,
       46.20760135, 94.02637368, 54.637842  , 77.44652324, 63.25409299,
       51.43928583, 29.84481274, 85.96560929, 56.0086101 , 27.99507367,
       14.50724609, 36.01933649, 89.74192878, 50.50320818, 20.716495  ,
       99.86018541, 28.4462534 , 52.62888415, 50.80845947,  4.67087998,
       36.39765288, 40.03995129, 86.00271351, 38.91443599,  1.48995475,
       95.5906905 , 24.98400346, 64.99552788, 91.81451378, 79.51804731,
       94.60314576, 45.4582302 , 41.86216781,  8.55822655, 84.69862475,
       92.2750289 , 75.85175542, 38.79124366, 41.33246621, 32.90678214,
       86.46684259, 58.42150778, 40.43694982, 79.79786459, 54.07728236,
        6.63417584,  2.17851295, 31.22312129, 69.59951895, 94.74571748,
       81.65448873, 98.12033647, 65.69420637, 72.60860596, 86.75148887,
       98.237119  ,  3.88577337, 66.45614025, 46.73870316, 64.00885161,
       46.11394156, 77.89759778, 51.38779983,  7.72244245,  3.07037043,
       14.98337687, 32.72082467, 71.70330322, 57.46089522, 99.97361871,
       22.86482949, 91.07041355, 85.19183141, 37.74604865, 97.64811107,
       23.79888522, 27.49257894,  9.99988792, 65.69895659, 13.43484877,
       10.7448407 , 69.18539495, 50.55042104, 83.46989397, 56.12609347,
       64.73256836, 75.30001971, 12.39837546, 92.81670324, 20.88013827,
       59.96019583,  8.47550482, 16.3879189 , 20.04895976,  6.54304744,
        6.12917027, 67.37224458, 12.98546052, 71.72973785, 25.31798481,
       96.670227  , 82.32171244, 17.33941139,  7.65529388, 49.03248223,
       87.62123833, 81.7270695 , 72.59949273, 77.28979405, 50.81147492,
       69.65989485, 42.02766062, 98.68725353,  5.73971018, 32.18254909,
       14.57153608, 24.80532302, 24.0618944 , 76.03303413, 58.78751905,
       42.92423665, 61.4470965 ,  8.91192558, 88.60304552, 67.59134866,
       99.84708452, 24.8678899 , 46.12796192, 35.58301687, 80.28079826,
        4.0123017 , 79.15824279, 48.67692925, 34.65271985, 40.50114619,
       56.20055214, 67.83926427, 21.32726495, 87.47123161, 76.02856091,
       63.57979956, 80.42909243, 31.51665521,  2.01899173, 74.56792626,
       97.22541067, 39.35394255, 13.77368098, 12.02332525, 67.70419405,
       47.22638041, 99.2334989 , 45.47836392, 69.40907537, 14.78556168,
       44.48068675, 33.29183992, 87.91620481, 43.88738141, 47.72117956,
       33.40005179, 86.25588538, 29.97743378, 19.35261418, 86.78140006,
       72.11598906, 29.29165904, 50.74290759, 28.10335779, 27.04735931,
       29.07594048, 65.29744382, 68.2260486 , 39.51477225, 25.98530201,
       28.37173359, 69.68763708, 30.51916703, 63.37760002, 84.06334732,
       27.84403296, 56.46432409,  1.22330945, 80.91103633, 28.32322965,
       64.09951047, 51.62181057, 95.86805942, 90.06424682, 96.52453151,
       33.89428841, 82.51830689, 75.14523414, 55.46758494, 72.15268497,
       20.19618474, 89.24780497, 67.41974029, 78.2295939 , 15.28051459,
       38.26008453, 49.20702762, 33.36518109,  4.2565727 , 23.83660309,
        4.44877214, 73.90947685, 43.47884062, 36.71700912, 98.41692799,
       87.05186162, 32.14452349, 20.9513866 , 13.89587066, 31.26748851,
       93.95664899, 87.13007523, 48.48475066, 99.90013102, 63.94806463,
       51.74271478, 85.27316452, 66.40108658,  1.69138188, 47.00158914,
       33.95887141, 43.01468609, 28.5879227 , 73.53324492, 68.2004593 ,
       32.39632978, 60.89404619, 49.39484087, 91.49262967, 29.13223274,
       11.83992308, 69.90202244, 26.99206365, 79.21762527, 62.31552892,
       37.37891407,  8.80552574, 69.31748074, 40.70923067, 17.35092485,
       38.41279778, 38.59754476, 42.12895961, 78.01951948, 90.58582574,
       42.91822897, 92.53060809, 92.66098218, 18.69616783, 92.52455842,
       64.06672656, 39.96379961, 89.27419969, 43.0261748 , 41.16526671,
       65.32233493, 21.78337008, 84.21383852, 91.07725163, 10.54225962,
       63.37131733, 79.39778821, 53.73509344, 40.82014813, 77.85739755,
       73.85523797, 36.18498076, 10.97164822, 60.82652788, 69.20726233,
       86.21198654, 34.73986261, 28.89386161,  9.37184965, 26.71257034,
       78.11501304, 62.10293667, 60.03730156, 31.06649456, 94.15546351,
        4.86200812, 34.88807252, 48.80349599, 57.09848264, 53.10088114,
       52.83020714,  7.61553873, 73.58721814, 31.53462134, 93.32801595,
       40.96180427, 60.77248635, 38.65282849, 11.43159847, 44.16561306,
       48.30942189, 56.65465868, 85.64834075, 62.066422  , 73.66136418,
       28.29492572, 60.49820915, 46.11229961, 48.44979768, 51.93872305,
       48.11507166, 65.03298053, 24.06035472, 75.88055543, 62.84688389,
       16.76012224, 65.88275358, 97.11656466, 21.81483812, 39.95375526,
       37.83592336, 50.17104934, 40.90072373,  8.28013719, 30.60115545,
       76.20905289, 80.02621296, 37.52257575, 40.59067602, 85.31360849,
       72.47412281, 21.03273571, 80.7029442 , 12.34822504, 37.7118689 ,
       33.05487998, 31.25424527, 49.93856944, 49.79994717, 31.34609594,
        8.52333911, 49.58194993, 57.55472529, 53.64581423,  4.94039045,
       24.55187344, 59.57603307, 42.99393495, 84.81807484, 66.99498151,
        2.18946735, 48.02610988, 18.80893745,  5.82582344, 88.12519336,
       45.05074934, 33.63413908, 78.49695338, 26.4936921 , 75.58854309,
       36.34735078, 24.23653817, 26.31351319, 15.72114244, 39.70164096,
       57.60229541, 31.56902456, 85.84757616, 31.47155732, 22.44369633,
       10.85745032, 64.14270097, 66.14912759, 66.58284119, 95.62010005,
        8.79794536, 91.79491582, 29.79878431, 71.4979608 , 36.37611879,
        1.40057946, 13.84535693, 14.85505287, 94.9790224 , 99.12210386,
        6.13054032, 67.49819368, 90.16641781, 13.48319468, 88.45166907,
       65.49744212, 36.65041619, 60.92569208, 11.5404168 ,  9.47855065,
        9.10531931, 14.63902896, 11.99053845, 55.69263756, 89.553509  ,
       18.03811031, 40.33788806, 31.25519044, 44.8014315 , 25.89558162,
       59.34485535, 82.3465572 , 10.08016   , 20.42047045,  8.64267829,
       10.11298283, 54.22612253,  2.73973701, 74.2611603 , 92.0065948 ,
       97.1342413 , 86.86598145, 86.74375276, 87.18669011, 87.4647041 ,
       82.00341148, 57.01486334, 63.82044612, 63.97446853,  9.77453479,
       73.79686502, 36.36040213,  6.88205622, 63.12488219,  6.32491249,
       46.02647223, 58.96422432, 72.93457418, 47.96787985, 64.62291031,
       95.40848013, 82.97239039, 64.65944488, 54.89656331, 18.98007752,
       53.27320101, 60.6763674 , 56.41836222, 83.8856312 , 33.24437267,
       59.98854119,  3.20263138, 96.82847168, 95.37776852, 14.27807757,
       65.5535547 , 12.0828028 , 49.94644074, 29.20444158, 49.43385644,
       69.8081998 , 41.12025698, 47.72542031, 23.7928322 , 54.46782755,
       54.25000964, 84.04386425, 41.41331572, 83.84714424, 11.8343137 ,
       87.83883951, 17.02669452, 19.42457266, 43.08242022, 61.07744105,
       88.62852952, 80.04592027, 83.17997547, 81.90795703, 48.54831427,
       59.69512483, 11.89861201, 50.40550104, 26.0000155 , 68.02455682,
       56.2509267 , 35.85018426, 23.02949178, 31.31670174, 75.61936137,
       98.45117762, 83.30332419, 78.95043013,  2.11336414, 49.56032175,
       28.30485612,  1.35144433, 31.89242771, 34.75136514,  8.64228664,
       72.23690993, 52.12126201, 12.14476588, 14.35383412, 85.7181501 ,
       75.3304624 , 38.32185038, 67.04386013, 90.41551481, 40.07781997,
       20.89189064,  6.40014459, 70.46206102, 77.31212771, 58.08706456,
       67.05825826, 70.37126518,  8.49999691, 83.90764544, 48.17569778,
       89.63277287, 29.28866242, 52.84562494, 51.45878506, 51.29970194,
       50.4297871 , 78.09778234, 68.32081315, 76.28439404, 69.84678321,
       95.98870855, 72.86979214, 54.9062255 , 93.43160606, 74.54741595,
       95.33091611, 61.99483984, 67.4037854 , 60.1770619 , 22.46717376,
       80.0530699 , 62.3235551 , 71.86498971, 11.37397453,  7.22892996,
       26.32681028, 43.16309918, 36.55233622, 70.6815416 , 62.80771633,
       76.35317107, 24.07307876, 76.52494792, 75.30424286, 58.15422214,
       35.19653558, 81.4299484 , 40.85126286, 43.1046669 , 50.78500563,
        9.7410634 , 37.41178013,  7.8918525 , 72.00949534, 57.12398331,
       21.4920039 , 90.04583966, 77.0964435 , 57.15920955, 36.91384584,
       37.9039061 , 66.45759709, 72.99507659, 25.68521529, 18.08488523,
       41.67221977, 81.97344874, 49.65740906, 30.71772708, 51.57917107,
       23.21449068, 47.72434748, 76.91163466, 17.70263077, 14.69717675,
       50.0465734 , 71.86242959,  4.20897065, 35.29751652, 58.8778584 ,
       56.00336626, 52.93126757, 30.52000273, 34.63032811, 41.89818384,
       74.1905219 , 92.85811056, 57.82041317, 52.89128052,  5.33727202,
       40.54198407, 83.85255401, 43.39364329, 89.86011524, 39.42356693,
       91.31291688, 81.44710116,  5.66715499, 35.62763723, 93.64083144,
       66.65645532, 51.54752223, 64.09731205,  3.56779503, 45.23951146,
       51.58913022, 24.15296423, 30.1462821 , 15.9417453 , 87.9208499 ,
       50.70855299,  7.53543236, 75.52288719, 93.31079727, 28.72724738,
       93.62628766, 58.40856777, 72.54105845, 94.58158612, 35.94284751,
       74.38627967, 46.95136271, 22.27227258,  9.58988151, 76.9072198 ,
       41.31218253, 99.9301913 , 41.75274883, 12.78670378, 25.99046952,
       52.6025514 , 83.04992891, 75.44870994, 87.79283643, 63.52907663,
       96.33664893, 46.25167216, 95.37021672, 89.10157732, 20.89362071,
       53.16446788, 19.83014114, 47.39218165, 58.91943304, 55.62283211,
       44.80814243, 90.59289296, 49.14145024,  6.50360577, 33.81876208,
       59.99168202, 77.70740543, 50.29249742, 64.12567011, 72.79396874,
       45.12457752, 14.53324302, 97.43372621, 60.5193342 , 72.36719459,
        9.19516265, 52.92968781, 51.04949476, 48.36967135, 67.33826126,
       42.40292251, 62.45638431, 62.81353766, 32.10807351, 39.8608879 ,
       79.26970181, 14.69306933, 34.22822962, 25.49776635, 98.11015584,
       26.14338784, 86.80897348, 61.62801046, 74.11450272, 15.99800428,
       49.46148697, 84.08423699, 30.95358386, 71.40571099, 78.23965366,
       42.25934812, 87.57858343, 99.68034402, 98.46882548, 92.87424426,
       38.80350524,  5.47438507, 80.51121023, 84.74888705, 76.85617889,
       44.82641034, 17.77506838, 32.70714293, 76.14761305, 44.11421503,
       47.13252076, 57.13010388, 48.45133495, 21.73614195, 39.68627918,
        3.25240238, 97.47559419, 20.08649634, 67.67145808, 23.45694612,
       70.55908863, 21.4400208 ,  1.76025774, 38.34165277, 73.25303257,
       55.07395433, 79.21389578, 21.19328317, 26.09807865, 64.7129692 ,
       33.29093109, 46.29621319, 26.88188136,  8.59263266, 77.79783701,
       60.97479303, 53.56553839, 35.29121698, 27.05329313, 14.92726152,
       86.75320432, 38.51003222, 59.25804211, 72.99754667, 25.46103976,
       46.17455315, 50.09000738, 62.8429973 , 17.84944896, 34.23413862,
       23.82652508, 64.23036961, 68.35469606, 75.74754286, 75.05753776,
        3.2541928 , 34.50454308, 60.25337758, 55.51195908, 67.09204112,
       10.1059975 , 93.63450994, 99.52609919, 13.49408062, 21.67361205,
       74.41509544, 89.27523564, 20.07101401, 47.99119337, 76.53504044,
       27.3612179 , 57.69505144, 38.19606081, 86.15393167, 96.82224362,
       27.17843104, 63.1313317 , 86.21360944, 87.21815921, 36.53808718,
       21.33329055, 22.39765751, 32.77564929, 27.32769793,  1.79160459,
       99.26002748, 10.37562034, 17.03887838, 52.2805527 ,  4.68085387,
       43.21680632, 10.43955149, 64.70324211, 12.71663053, 77.24097986,
       22.8160552 , 64.09846059, 30.4522595 , 44.6944887 ,  6.88585096,
        5.50473176, 57.338197  , 24.2709027 , 88.51205439, 96.02547226,
       84.94886819, 71.51541672, 78.37727971, 77.24654642, 52.89228865,
       66.97981623, 74.5120233 , 94.94349325, 23.74570223, 69.49418391,
       24.12779723, 77.74984667, 62.96266047, 83.00534689, 63.45554581,
       50.28421756, 20.96370202, 50.18869614, 40.94663351, 15.43489982,
       48.62475673,  5.2383072 ,  2.98256006, 12.8875654 , 78.6041103 ,
       51.63500569, 71.50999824, 84.96067996,  5.00151572, 92.08814668,
       41.62970203, 28.96326964, 64.77875355, 84.36283003, 40.21021438,
       43.80117149, 73.04699365, 93.99928105, 41.56889255, 62.23460182,
       47.80517768, 84.83093422, 29.68018562, 84.84856256, 80.61636239,
       81.34681368, 34.14581382, 75.66039298, 99.10195634, 42.23861951,
       85.60059046, 58.2607047 , 29.6157457 ,  8.04542437, 21.64442447,
       97.27549807, 36.30953572, 12.19128154, 57.48008215, 93.03789941,
       55.85435949, 12.99457143, 14.10669964, 70.12663884, 46.88276317,
       50.31015475, 31.73037586, 47.65498673, 34.09515409, 84.33229907,
       83.04074407, 77.95223588, 83.27332143, 10.36385849, 33.6001933 ,
        8.67645166,  8.86262746, 16.41286504, 56.50553096, 31.22860388,
       94.80650044, 53.3240461 ,  4.41946578, 16.0463488 , 20.37435049,
       32.11451564, 12.64235529, 58.98985889,  1.92602381, 30.70671242,
       93.93781382, 61.61729843,  1.60702114, 13.93455476, 25.80023978,
       86.747239  , 75.51803164, 63.93946208, 91.46085104, 32.86079994,
       23.39712547, 89.10251152, 89.31187712, 64.6787516 ,  6.17213431,
       36.8031404 , 36.0842942 ,  5.88411041, 83.60812341, 27.82767179,
       86.87157586, 40.59665594, 67.54660351,  8.63399658, 18.88535549,
       25.0778254 , 62.07135796, 27.5657836 , 24.15071415,  2.58401714,
       97.81447123, 32.33736511, 61.73482971, 14.04313104, 46.49671771,
       51.85963227, 43.39292311, 61.37435329,  1.28571396, 33.66230831,
       15.27612451, 16.54063431, 81.60240099, 30.74804598, 87.91258066,
       79.92766505, 74.51393523, 46.70852934, 59.89158418, 65.82431326,
       59.08031049, 45.8888346 , 96.27944936, 41.6206657 , 26.28518793,
       58.26244888, 19.96682205, 36.2849973 , 46.38248653, 69.72234965,
       69.12408466, 16.58734992, 50.07150783, 68.16266484, 52.36169356,
       26.05822168, 61.47630148, 11.23639754, 75.34764692, 55.63093418,
       19.70877727, 91.84090325, 52.19798897, 61.69045183, 87.58906034])