In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
import pandas as pd
import numpy as np

In [3]:
dir_datasets = '/content/drive/MyDrive/DataScience/Data Science Course/0.Datasets/{}'
df_exams = pd.read_csv(dir_datasets.format('StudentsPerformance.csv'), sep=',')

In [4]:
df_exams

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75
...,...,...,...,...,...,...,...,...
995,female,group E,master's degree,standard,completed,88,99,95
996,male,group C,high school,free/reduced,none,62,55,55
997,female,group C,high school,free/reduced,completed,59,71,65
998,female,group D,some college,standard,completed,68,78,77
999,female,group D,some college,free/reduced,none,77,86,86

**Value Counts**

In [5]:
# len() function
len(df_exams['gender'])

# .count() method
df_exams['gender'].count()

1000

In [6]:
# count the elements of a gender column group by category\
df_exams['gender'].value_counts()

female    518
male      482
Name: gender, dtype: int64

In [7]:
df_exams['race/ethnicity'].value_counts()

group C    319
group D    262
group B    190
group E    140
group A     89
Name: race/ethnicity, dtype: int64

In [12]:
# represent elements average of gender column 
df_exams['gender'].value_counts(normalize=True).round(2)

female    0.52
male      0.48
Name: gender, dtype: float64

In [9]:
# count elements of the column "parental level of education" by category
df_exams['parental level of education'].value_counts()

some college          226
associate's degree    222
high school           196
some high school      179
bachelor's degree     118
master's degree        59
Name: parental level of education, dtype: int64

In [11]:
# get the average by category
df_exams['parental level of education'].value_counts(normalize=True).round(2)

some college          0.23
associate's degree    0.22
high school           0.20
some high school      0.18
bachelor's degree     0.12
master's degree       0.06
Name: parental level of education, dtype: float64