In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
# importar pandas
import pandas as pd
import numpy as np

In [7]:
# Opcional: usa el pd.set_option() para mostrar todas las filas de un dataframe por defecto
pd.set_option('display.max_rows', 30)

# Crear un DataFrame

In [5]:
# leer el archivo csv "bestsellers with categories" (data sobre los 50 libros m√°s vendidos de Amazon de 2009 a 2019.)
dir_datasets = '/content/drive/MyDrive/DataScience/Data Science Course/0.Datasets/{}'
df_sellers = pd.read_csv(dir_datasets.format('bestsellers+with+categories.csv'), sep=',')

In [6]:
# acceder al atributo shape
df_sellers.shape

(550, 7)

In [8]:
# encontrar el tipo de data de cada columna
df_sellers.dtypes

Name            object
Author          object
User Rating    float64
Reviews          int64
Price            int64
Year             int64
Genre           object
dtype: object

# Mostrar un DataFrame

In [9]:
# mostrar primeras 5 filas de un dataframe
df_sellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction

In [10]:
# encontrar valores estadisticos de un dataframe (mean, std, min, max)
df_sellers.describe()

       User Rating       Reviews       Price         Year
count   550.000000    550.000000  550.000000   550.000000
mean      4.618364  11953.281818   13.100000  2014.000000
std       0.226980  11731.132017   10.842262     3.165156
min       3.300000     37.000000    0.000000  2009.000000
25%       4.500000   4058.000000    7.000000  2011.000000
50%       4.700000   8580.000000   11.000000  2014.000000
75%       4.800000  17253.250000   16.000000  2017.000000
max       4.900000  87841.000000  105.000000  2019.000000

# Agregar una nueva Columna

In [14]:
# Tu tarea es crear una columna llamada 'Critic Rating' que deberia tener numeros random enteros entre 1 y 4


# 1.importar numpy y crear 550 numeros random enteros entre 1 y 4


# 2.agregar nueva columna 'Critic Rating' al dataframe usando los numeros random creados
num14 = np.random.randint(1, 5, size=550)
df_sellers['Critic Rating'] = num14

# Obs: Los numeros aleatorios en la columna 'Critic Rating' seran diferentes entre tu solucion y la mia, pero vamos a concetrarnos en el codigo en esta seccion.

In [15]:
# mostrar 5 primeras filas
df_sellers.head()

,Name,Author,User Rating,Reviews,Price,Year,Genre,Critic Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,17350,8,2016,Non Fiction,1
1,11/22/63: A Novel,Stephen King,4.6,2052,22,2011,Fiction,2
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,18979,15,2018,Non Fiction,4
3,1984 (Signet Classics),George Orwell,4.7,21424,6,2017,Fiction,2
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,7665,12,2019,Non Fiction,3

# Atributos, Metodos y Funciones Basicas

In [16]:
# acceder al atributo "columns"
df_sellers.columns

Index(['Name', 'Author', 'User Rating', 'Reviews', 'Price', 'Year', 'Genre',
       'Critic Rating'],
      dtype='object')

# Seleccionar 2 o Mas Columnas de un Dataframe

In [18]:
# mover la columna 'Critic Rating' entre las columnas "User Rating" y "Reviews" Luego actualizar el dataframe

df_sellers = df_sellers[['Name', 'Author', 'User Rating', 'Critic Rating','Reviews', 'Price', 'Year', 'Genre']]
# Tip: Copiar y pegar los nombres de columna obtenidos con el atributo "columns" y reordenar los elementos usando [[]]

In [19]:
# mostrar 5 primeras filas
df_sellers.head()

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,4,18979,15,2018,Non Fiction
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,7665,12,2019,Non Fiction

# Operaciones en Dataframes

In [ ]:
# crear una columna llamada "Average Rating" usando la sigueinte formula: Average Rating = (User Rating + Critic Rating)/2
df_sellers['Average Rating'] = (df_sellers['User Rating'] + df_sellers['Critic Rating'])/2

In [24]:
# usar la funcion "round" para redondear los valores del dataframe a 1 decimal y actualizar el dataframe
df_sellers.round(1)

,Name,Author,User Rating,Critic Rating,Reviews,Price,Year,Genre,Average Rating
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction,2.8
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction,3.3
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,4,18979,15,2018,Non Fiction,4.4
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction,3.4
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,7665,12,2019,Non Fiction,3.9
...,...,...,...,...,...,...,...,...,...
545,Wrecking Ball (Diary of a Wimpy Kid Book 14),Jeff Kinney,4.9,4,9413,8,2019,Fiction,4.4
546,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,4,14331,8,2016,Non Fiction,4.4
547,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,4,14331,8,2017,Non Fiction,4.4
548,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,1,14331,8,2018,Non Fiction,2.8
549,You Are a Badass: How to Stop Doubting Your Gr...,Jen Sincero,4.7,3,14331,8,2019,Non Fiction,3.8

# Contar Valores

In [28]:
# contar elementos en columna "Genre" por categoria y devolver la frecuencia relativa
df_sellers['Genre'].value_counts(normalize=True).round(2)

Non Fiction    0.56
Fiction        0.44
Name: Genre, dtype: float64

# Renombrar Columnas

In [34]:
# renombrar columnas "User Rating," "Critic Rating" y "Average Rating" a "UR," "CR" y "AR" Luego actualizar el dataframe con el parametro "inplace"
df_sellers.rename(columns={'User Rating':'UR',
                   'Critic Rating':'CR',
                   'Average Rating':'AR'},
                  inplace = True)

/usr/local/lib/python3.8/dist-packages/pandas/core/frame.py:5039: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().rename(

In [35]:
# mostrar 5 primeras filas
df_sellers.head()

,Name,Author,UR,CR,Reviews,Price,Year,Genre,AR
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,17350,8,2016,Non Fiction,2.85
1,11/22/63: A Novel,Stephen King,4.6,2,2052,22,2011,Fiction,3.30
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,4,18979,15,2018,Non Fiction,4.35
3,1984 (Signet Classics),George Orwell,4.7,2,21424,6,2017,Fiction,3.35
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,7665,12,2019,Non Fiction,3.90

In [37]:
# seleccionar solo columnas "Name", "Author", "UR", "CR", "AR" y "Year" y actualizar el dataframe
df_sellers = df_sellers[["Name", "Author", "UR", "CR", "AR", "Year"]]
df_sellers.head()

,Name,Author,UR,CR,AR,Year
0,10-Day Green Smoothie Cleanse,JJ Smith,4.7,1,2.85,2016
1,11/22/63: A Novel,Stephen King,4.6,2,3.30,2011
2,12 Rules for Life: An Antidote to Chaos,Jordan B. Peterson,4.7,4,4.35,2018
3,1984 (Signet Classics),George Orwell,4.7,2,3.35,2017
4,"5,000 Awesome Facts (About Everything!) (Natio...",National Geographic Kids,4.8,3,3.90,2019

# Ordenar el dataframe

In [38]:
# ordenar el dataframe en forma descendente segun las columnas "UR" y "CR"
df_sellers.sort_values(['UR', 'CR'], ascending=False)

,Name,Author,UR,CR,AR,Year
40,"Brown Bear, Brown Bear, What Do You See?",Bill Martin Jr.,4.9,4,4.45,2017
151,Hamilton: The Revolution,Lin-Manuel Miranda,4.9,4,4.45,2016
207,Last Week Tonight with John Oliver Presents A ...,Jill Twiss,4.9,4,4.45,2018
250,"Oh, the Places You'll Go!",Dr. Seuss,4.9,4,4.45,2017
252,"Oh, the Places You'll Go!",Dr. Seuss,4.9,4,4.45,2019
...,...,...,...,...,...,...
392,The Goldfinch: A Novel (Pulitzer Prize for Fic...,Donna Tartt,3.9,2,2.95,2013
106,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,3,3.40,2012
107,Fifty Shades of Grey: Book One of the Fifty Sh...,E L James,3.8,3,3.40,2013
132,Go Set a Watchman: A Novel,Harper Lee,3.6,1,2.30,2015
353,The Casual Vacancy,J.K. Rowling,3.3,2,2.65,2012